
<div id="container">
        <div id="content" style="position: relative" class="clearfix">
        <div id="wide-personal-info">
    
    
    
        <div id="habbo-plate">
    
                <a href="<?php echo URL; ?>/identity/avatars">
    
                <img alt="<?php echo User::$Data['name']; ?>" src="<?php echo LOOK . User::$Data['figure']; ?>&size=b&direction=2&head_direction=2&gesture=sml" width="64" height="110"/>
    
            </a>
    
        </div>
    
    
    
        <div id="name-box" class="info-box">
    
            <div class="label">Nombre:</div>
    
            <div class="content"><?php echo User::$Data['name']; ?></div>
    
        </div>
    
        <div id="motto-box" class="info-box">
    
            <div class="label">Misi&oacute;n:</div>
    
            <div class="content"><?php echo User::$Data['motto']; ?></div>
    
        </div>
    
        <div id="last-logged-in-box" class="info-box">
    
            <div class="label">&Uacute;ltima conexi&oacute;n:</div>
    
            <div class="content"><?php echo Tool::ParseUnixTime(User::$Row['web_online']); ?></div>
    
        </div>
    
    
    <?php if((Site::$Settings['ClientEnabled'] == '2' && User::$Data['rank'] < MinRank) || (Site::$Settings['ClientEnabled'] == '0')): ?>
    <div class="enter-hotel-btn">
        <div class="closed enter-btn">
            <span>Hotel Cerrado</span>
            <b></b>
        </div>
    </div>
    <?php else: ?>
    <div class="enter-hotel-btn">
        <div class="open enter-btn">
                <a href="<?php echo URL; ?>/client" target="<?php echo User::$Row['client_token']; ?>" onclick="HabboClient.openOrFocus(this); return false;">Entra a <?php echo LongName; echo Site::$Settings['ClientEnabled'] == '2' ? ' (Solo staffs)' : ''; ?><i></i></a>
            <b></b>
        </div>
    </div>
    <?php endif; ?>
    
    <?php if(!isset($_SESSION['alertPassed'])): ?>
    <div id="safety-question-dialog" class="modal-dialog">
        <div class="clearfix">
            <h2>¡Recompensa Diaria <?php echo HotelName; ?> PLUS!</h2>
            <p><b>Siguiente recompensa en: </b> 23 horas, 54 minutos<p>
            <div class="daily-reward-box"> 
                <div class="day-reward">
                    <div class="reward-box credits">
                        <div class="reward-item">
                            <div class="item day-1"></div>
                        </div>
                        <div class="reward-title">
                            25 Créditos
                        </div>
                    </div>
                    <div class="claim-text">
                            ¡Reclamado!
                    </div>
                </div>
                <div class="day-reward">
                    <div class="reward-box credits">
                        <div class="reward-item">
                            <div class="item day-2"></div>
                        </div>
                        <div class="reward-title">
                            50 Créditos
                        </div>
                    </div>
                    <div class="claim-text">
                            ¡Reclamado!
                    </div>
                </div>
                <div class="day-reward">
                    <div class="reward-box duckets today">
                        <div class="reward-item">
                            <div class="item day-3"></div>
                        </div>
                        <div class="reward-title">
                            100 Duckets
                        </div>
                    </div>
                </div>
                <div class="day-reward">
                    <div class="reward-box duckets">
                        <div class="reward-item">
                            <div class="item day-4"></div>
                        </div>
                        <div class="reward-title">
                            200 Duckets
                        </div>
                    </div>
                </div>
                <div class="day-reward">
                    <div class="reward-box diamonds">
                        <div class="reward-item">
                            <div class="item day-5"></div>
                        </div>
                        <div class="reward-title">
                            5 Diamantes
                        </div>
                    </div>
                </div>
                <div class="day-reward">
                        <div class="reward-box diamonds">
                            <div class="reward-item">
                                <div class="item day-6"></div>
                            </div>
                            <div class="reward-title">
                                10 Diamantes
                            </div>
                        </div>
                </div>
                <div class="day-reward">
                        <div class="reward-box">
                            <div class="reward-item">
                                <div class="item"></div>
                            </div>
                            <div class="reward-title">
                                1 Raro
                            </div>
                        </div>
                </div>
            </div>

            <p></p>

            <a href="<?php echo URL;?>/me?passAlert=true" class="new-button" style="float: none; display: inline-block;"><b>Ok</b><i></i></a>
        </div>
    </div>
    
    <script type="text/javascript">
        HabboView.add(function () {
            if ($("overlay")) {
                $(document.body).appendChild($("safety-question-dialog"));
                Utils.showDialogOnOverlay($("safety-question-dialog"));
            } else {
                $("safety-question-dialog").setStyle({position:'relative', display:'block', margin:'0 auto 2em auto'});
            }
        });
    </script>
    <?php $_SESSION['alertPassed'] = true;
    endif;
    ?>

    </div>
    <?php Cache::AppendPlugin(2);
    $Row = Cache::GetArticles(true, 5, 0);
    $Count = 0;
    if(count($Row) > 0):
    ?>
     <div id="promo-box">
        <div id="promo-bullets"></div>
    <?php
        foreach($Row as $DataRow):
            if($Count === 0):
                $Count++;
                echo ' <div class="promo-container" style="background-image: url(' . $DataRow['BackGroundImage'] . ')">';
            else:
                echo ' <div class="promo-container" style="display: none; background-image: url(' . $DataRow['BackGroundImage'] . ')">';
            endif;
            $DataURL =  URL . '/articles/' . $DataRow['Id'] . '-' . str_replace(' ', '-', strtolower($DataRow['Title']));
    ?>
                <div class="promo-content-container">
                    <div class="promo-content">
                        <div class="title"><?php echo $DataRow['Title']; ?></div>
                        <div class="body"><?php echo $DataRow['Summary']; ?></div>
                    </div>
                </div>

                <div class="promo-link-container">
                    <div class="enter-hotel-btn">
                        <div class="open enter-btn">
                            <a href="<?php echo $DataURL; ?>" target="_blank">Leer Más...<i></i></a>
                            <b></b>
                            </div>
                    </div>
                </div>
            </div>
    <?php endforeach; ?>
    
    
    </div>
    
    <script type="text/javascript">
        document.observe("dom:loaded", function() { PromoSlideShow.init(); });
    </script>
    <?php endif; ?>
    
    <div id="column1" class="column">
    <?php Cache::AppendPlugin(3); ?>
    </div>

    <div id="column2" class="column">
    <?php Cache::AppendPlugin(4); ?>
    </div>