<div id="container">
	<div id="content" style="position: relative" class="clearfix">
    <?php
    $Row = Cache::GetArticles(true, 5, 0);
    $Count = 0;
    if(count($Row) > 0):
    ?>
     <div id="promo-box">
        <div id="promo-bullets"></div>
    <?php
        foreach($Row as $DataRow):
            if($Count === 0):
                $Count++;
                echo ' <div class="promo-container" style="background-image: url(' . $DataRow['BackGroundImage'] . ')">';
            else:
                echo ' <div class="promo-container" style="display: none; background-image: url(' . $DataRow['BackGroundImage'] . ')">';
            endif;
            $DataURL =  URL . '/articles/' . $DataRow['Id'] . '-' . str_replace(' ', '-', strtolower($DataRow['Title']));
    ?>
                <div class="promo-content-container">
                    <div class="promo-content">
                        <div class="title"><?php echo $DataRow['Title']; ?></div>
                        <div class="body"><?php echo $DataRow['Summary']; ?></div>
                    </div>
                </div>

                <div class="promo-link-container">
                    <div class="enter-hotel-btn">
                        <div class="open enter-btn">
                            <a href="<?php echo $DataURL; ?>" target="_blank">Leer Más...<i></i></a>
                            <b></b>
                            </div>
                    </div>
                </div>
            </div>
    <?php endforeach; ?>
    
    
    </div>
    
    <script type="text/javascript">
        document.observe("dom:loaded", function() { PromoSlideShow.init(); });
    </script>
    <?php endif; ?>



<div id="column1" class="column">
	<?php Cache::AppendPlugin(7); ?>
</div>

<div id="column2" class="column">
	<?php Cache::AppendPlugin(8); ?>
</div>